image: Visual Studio 2017
platform:
  - x64
cache:
  - node_modules
init:
  - git config --global core.autocrlf input
install:
  - ps: Install-Product node 12 x64
  - yarn
build_script:
  - yarn electron
  - yarn electron:build
test: off
